- name: Generate CA base directory
  ansible.builtin.file:
    path: '{{ pki_ca_basedir }}'
    state: directory
    mode: '0o700'

- name: Check for encrypted CA private key
  ansible.builtin.stat:
    path: '{{ pki_ca_basedir }}/ca.sops.key'
  register: pki_ca_sops_key
- name: Generate CA private key
  community.crypto.openssl_privatekey:
    path: '{{ pki_ca_basedir }}/ca.key'
    type: '{{ pki_ca_algo | default("Ed25519") }}'
  when: not pki_ca_sops_key.stat.exists
- name: Encrypt CA private key
  community.sops.sops_encrypt:
    path: '{{ pki_ca_basedir }}/ca.sops.key'
    content_text: "{{ lookup('file', pki_ca_basedir + '/ca.key') }}"
  when: not pki_ca_sops_key.stat.exists
- name: Delete unencrypted CA private key
  ansible.builtin.file:
    path: '{{ pki_ca_basedir }}/ca.key'
    state: absent
  when: not pki_ca_sops_key.stat.exists
- name: Generate CA CSR
  community.crypto.openssl_csr:
    path: '{{ pki_ca_basedir }}/ca.csr'
    privatekey_content: "{{ lookup('community.sops.sops', pki_ca_basedir + '/ca.sops.key') }}"
    common_name: '{{ pki_ca_cn }}'
    use_common_name_for_san: false
    basic_constraints: 'CA:TRUE'
    basic_constraints_critical: true
    key_usage:
      - keyCertSign
      - cRLSign
    key_usage_critical: true
- name: Generate CA certificate
  community.crypto.x509_certificate:
    path: '{{ pki_ca_basedir }}/ca.crt'
    csr_path: '{{ pki_ca_basedir }}/ca.csr'
    privatekey_content: "{{ lookup('community.sops.sops', pki_ca_basedir + '/ca.sops.key') }}"
    provider: selfsigned
    return_content: true

- name: Generate CA certs directory
  ansible.builtin.file:
    path: '{{ pki_ca_basedir }}/certs'
    state: directory
    mode: '0o755'
