apiVersion: v1
kind: Pod
metadata:
  name: tpeap
spec:
  hostNetwork: true
  containers:
    - name: tpeap
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop: [ALL]
        readOnlyRootFilesystem: true
        runAsUser: {{ tpeap_user.uid }}
        runAsGroup: {{ tpeap_group.gid }}
        runAsNonRoot: true
      image: "{{ tpeap_image }}:{{ tpeap_version }}"
      ports:
        - name: https
          containerPort: 8043
      workingDir: /data
      volumeMounts:
        - name: data
          mountPath: /data
        - name: tmp
          mountPath: /tmp
  volumes:
    - name: data
      hostPath:
        type: Directory
        path: {{ tpeap_data_dir }}
    - name: tmp
      emptyDir:
        medium: Memory
