kubelet_kubernetes_version: v1.35

etcd_ca_host: localhost
etcd_ca_basedir: pki/etcd
etcd_ca_cn: etcd-ca
etcd_data_dir: /var/lib/etcd
etcd_config_dir: /etc/etcd
etcd_image: gcr.io/etcd-development/etcd
etcd_version: v3.6.7

patroni_ca_host: localhost
patroni_ca_basedir: pki/patroni
patroni_ca_cn: patroni-ca
patroni_postgres_ca_host: localhost
patroni_postgres_ca_basedir: pki/patroni-postgres
patroni_postgres_ca_cn: patroni-postgres-ca

patroni_scope: netbox
patroni_config_dir: /etc/patroni
patroni_postgres_data_dir: /var/lib/postgresql
patroni_image: ghcr.io/nevivurn/homelab-images/patroni
patroni_version: 4.1.0-3cb988c

patroni_haproxy_config_dir: /etc/haproxy
patroni_haproxy_image: docker.io/library/haproxy
patroni_haproxy_version: "3.3"

kea_config_dir: /etc/kea
kea_data_dir: /var/lib/kea
kea_dhcp4_image: docker.cloudsmith.io/isc/docker/kea-dhcp4
kea_dhcp6_image: docker.cloudsmith.io/isc/docker/kea-dhcp6
kea_version: 3.0.2

kea_subnets:
  1:
    domain: mgmt.nevi.network
    subnet_v4: 10.64.1.0/24
    router_v4: 10.64.1.1
    pool_v4: "10.64.1.100 - 10.64.1.200"
    subnet_v6: fdbc:ba6a:38de:1::/64
    pool_v6: fdbc:ba6a:38de:1:d6d6::/80
  10:
    domain: home.nevi.network
    subnet_v4: 10.64.10.0/24
    router_v4: 10.64.10.1
    pool_v4: "10.64.10.100 - 10.64.10.200"
    subnet_v6: fdbc:ba6a:38de:10::/64
    pool_v6: fdbc:ba6a:38de:10:d6d6::/80
  11:
    domain: guest.nevi.network
    subnet_v4: 10.64.11.0/24
    router_v4: 10.64.11.1
    pool_v4: "10.64.11.100 - 10.64.11.200"
    subnet_v6: fdbc:ba6a:38de:11::/64
    pool_v6: fdbc:ba6a:38de:11:d6d6::/80
    extra_options_v4:
      - name: domain-name-servers
        data: 1.1.1.1, 1.0.0.1
      - name: ntp-servers
        never-send: true
    extra_options_v6:
      - name: dns-servers
        data: 2606:4700:4700::1111, 2606:4700:4700::1001
      - name: sntp-servers
        never-send: true
  20:
    domain: inf.nevi.network
    subnet_v4: 10.64.20.0/24
    router_v4: 10.64.20.1
    pool_v4: "10.64.20.100 - 10.64.20.200"
    subnet_v6: fdbc:ba6a:38de:20::/64
    pool_v6: fdbc:ba6a:38de:20:d6d6::/80
    local_v6: true
  30:
    domain: k8s.nevi.network
    subnet_v4: 10.64.30.0/24
    router_v4: 10.64.30.1
    pool_v4: "10.64.30.100 - 10.64.30.200"
    subnet_v6: fdbc:ba6a:38de:30::/64
    pool_v6: fdbc:ba6a:38de:30:d6d6::/80

pdns_config_dir: /etc/powerdns
pdns_recursor_image: docker.io/powerdns/pdns-recursor-53
pdns_recursor_version: 5.3.3
pdns_server_image: docker.io/powerdns/pdns-auth-50
pdns_server_version: 5.0.2
pdns_recursor_forwards: "{{ (lookup('file', 'files/infra_zones.json') | from_json) | dict2items | map('combine', {'value': ['127.0.0.1:5301']}) | items2dict }}"
pdns_recursor_trustanchors: "{{ lookup('file', 'files/infra_zones.json') | from_json }}"
pdns_recursor_rpz_zone: hosts.zone

chrony_config_dir: /etc/chrony
chrony_image: ghcr.io/nevivurn/homelab-images/chrony
chrony_version: 4.8-3cb988c
# rely on pve01 for now, until we get better clocks
chrony_config: |
  server 10.64.20.11 iburst

dhcrelay_image: ghcr.io/nevivurn/homelab-images/isc-dhcp-dhcrelay
dhcrelay_version: 4.4.3-3cb988c

caddy_ca_host: localhost
caddy_ca_basedir: pki/caddy
caddy_ca_cn: caddy-ca
caddy_client_cert_sans:
  - DNS:localhost
caddy_config_dir: /etc/caddy
caddy_image: docker.io/caddy
caddy_version: 2.10.2
caddy_extra_sans:
  - DNS:api.inf.nevi.network

tpeap_data_dir: /var/lib/tpeap
tpeap_image: ghcr.io/nevivurn/homelab-images/tpeap
tpeap_version: 6.1.0.19-e5d8290
