kubelet_kubernetes_version: v1.35

etcd_ca_host: localhost
etcd_ca_basedir: pki/etcd
etcd_ca_cn: etcd-ca
etcd_data_dir: /var/lib/etcd
etcd_config_dir: /etc/etcd
etcd_image: gcr.io/etcd-development/etcd
etcd_version: v3.6.7

patroni_ca_host: localhost
patroni_ca_basedir: pki/patroni
patroni_ca_cn: patroni-ca
patroni_postgres_ca_host: localhost
patroni_postgres_ca_basedir: pki/patroni-postgres
patroni_postgres_ca_cn: patroni-postgres-ca

patroni_scope: netbox
patroni_config_dir: /etc/patroni
patroni_postgres_data_dir: /var/lib/postgresql
patroni_image: ghcr.io/nevivurn/homelab-images/patroni
patroni_version: 4.1.0-fa3a227

patroni_haproxy_config_dir: /etc/haproxy
patroni_haproxy_image: docker.io/library/haproxy
patroni_haproxy_version: "3.3"

kea_config_dir: /etc/kea
kea_data_dir: /var/lib/kea
kea_dhcp4_image: docker.cloudsmith.io/isc/docker/kea-dhcp4
kea_dhcp6_image: docker.cloudsmith.io/isc/docker/kea-dhcp6
kea_version: 3.0.2

kea_subnets:
  10:
    domain: home.nevi.network
    subnet_v4: 10.64.10.0/24
    router_v4: 10.64.10.1
    pool_v4: "10.64.10.100 - 10.64.10.200"
    subnet_v6: fdbc:ba6a:38de:10::/64
    pool_v6: fdbc:ba6a:38de:10:d6d6::/80
  11:
    domain: guest.nevi.network
    subnet_v4: 10.64.11.0/24
    router_v4: 10.64.11.1
    pool_v4: "10.64.11.100 - 10.64.11.200"
    subnet_v6: fdbc:ba6a:38de:11::/64
    pool_v6: fdbc:ba6a:38de:11:d6d6::/80
    extra_options:
      - name: domain-name-servers
        data: 1.1.1.1, 1.0.0.1
      - name: ntp-servers
        never-send: true
  20:
    domain: inf.nevi.network
    subnet_v4: 10.64.20.0/24
    router_v4: 10.64.20.1
    pool_v4: "10.64.20.100 - 10.64.20.200"
    subnet_v6: fdbc:ba6a:38de:20::/64
    pool_v6: fdbc:ba6a:38de:20:d6d6::/80
    local_v6: true
  30:
    domain: k8s.nevi.network
    subnet_v4: 10.64.30.0/24
    router_v4: 10.64.30.1
    pool_v4: "10.64.30.100 - 10.64.30.200"
    subnet_v6: fdbc:ba6a:38de:30::/64
    pool_v6: fdbc:ba6a:38de:30:d6d6::/80

pdns_config_dir: /etc/powerdns
pdns_recursor_image: docker.io/powerdns/pdns-recursor-53
pdns_recursor_version: 5.3.3
pdns_server_image: docker.io/powerdns/pdns-auth-50
pdns_server_version: 5.0.2
pdns_recursor_forwards:
  nevi.network:
    - 127.0.0.1:5301
  10.64.10.in-addr.arpa:
    - 127.0.0.1:5301
  20.64.10.in-addr.arpa:
    - 127.0.0.1:5301
  30.64.10.in-addr.arpa:
    - 127.0.0.1:5301
  11.64.10.in-addr.arpa:
    - 127.0.0.1:5301
  0.1.0.0.e.d.8.3.a.6.a.b.c.b.d.f.ip6.arpa:
    - 127.0.0.1:5301
  1.1.0.0.e.d.8.3.a.6.a.b.c.b.d.f.ip6.arpa:
    - 127.0.0.1:5301
  0.2.0.0.e.d.8.3.a.6.a.b.c.b.d.f.ip6.arpa:
    - 127.0.0.1:5301
  0.3.0.0.e.d.8.3.a.6.a.b.c.b.d.f.ip6.arpa:
    - 127.0.0.1:5301
pdns_recursor_trustanchors:
  nevi.network:
    [
      "9819 13 2 db61b21c17f615477425ac2a92edec9f55b78cb6159960a484ceca2a6e9790e5",
      "9819 13 4 d5c669c7a246174b50a604fa3d4bc6f7a6985409cc5b24781658f8fce37f0b00b318a365df4470f8e63e19b56f0a93c4",
    ]
  64.10.in-addr.arpa:
    [
      "42821 13 2 661a815853af66d8f4d1833aa876166bd642a43807ea22ac2e6a20456a09e8e5",
      "42821 13 4 c433924e18abcda7d4328d7fc710d9f1b8c6635fae014e4d19164d033eb5ef0d6f1e712f891b691161fd8e306e6de18a",
    ]
  e.d.8.3.a.6.a.b.c.b.d.f.ip6.arpa:
    [
      "48827 13 2 40bd902a503d4d35555854cc958bbdb91d7c700aa638ae5fb9a7ddb225a09886",
      "48827 13 4 86e17d80e2f66043cf12abcca57c0c839f262713aa555ebcf73e067040eda534b63ee7809fcc87113bde723786fc8001",
    ]
pdns_recursor_rpz_zone: hosts.zone

chrony_config_dir: /etc/chrony
chrony_image: ghcr.io/nevivurn/homelab-images/chrony
chrony_version: 4.8-fa3a227
# rely on pve01 for now, until we get better clocks
chrony_config: |
  server 10.64.20.11 iburst

dhcrelay_image: ghcr.io/nevivurn/homelab-images/isc-dhcp-dhcrelay
dhcrelay_version: 4.4.3-fa3a227

caddy_ca_host: localhost
caddy_ca_basedir: pki/caddy
caddy_ca_cn: caddy-ca
caddy_config_dir: /etc/caddy
caddy_image: docker.io/caddy
caddy_version: 2.10.2
