ipam:
  mode: kubernetes
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
securityContext:
  capabilities:
    cleanCiliumState: [NET_ADMIN, SYS_ADMIN, SYS_RESOURCE]
    ciliumAgent:
      [
        CHOWN,
        KILL,
        NET_ADMIN,
        NET_RAW,
        IPC_LOCK,
        SYS_ADMIN,
        SYS_RESOURCE,
        DAC_OVERRIDE,
        FOWNER,
        SETGID,
        SETUID,
      ]
k8sServiceHost: localhost
k8sServicePort: 7445

routingMode: native
bpf:
  distributedLRU:
    enabled: true
  mapDynamicSizeRatio: 0.08
  datapathMode: netkit
kubeProxyReplacement: true
bpfClockProbe: true
bandwidthManager:
  enabled: true
  bbr: true

ipv4:
  enabled: true
ipv6:
  enabled: true
autoDirectNodeRoutes: true
loadBalancer:
  mode: dsr
  dsrDispatch: opt

bgpControlPlane:
  enabled: true

enableIPv4Masquerade: false
enableIPv6Masquerade: false
