DhcpDdns:
  tsig-keys:
    - name: tsig-key
      algorithm: HMAC-SHA512
      secret: {{ kea_ddns_tsig }}
  forward-ddns:
    ddns-domains:
      {%- for zone in kea_ddns_zones.forward +%}
      - name: {{ zone }}.
        key-name: tsig-key
        dns-servers:
          - ip-address: 127.0.0.1
            port: 5301
      {%- endfor +%}
  reverse-ddns:
    ddns-domains:
      {%- for zone in kea_ddns_zones.reverse +%}
      - name: {{ zone }}.
        key-name: tsig-key
        dns-servers:
          - ip-address: 127.0.0.1
            port: 5301
      {%- endfor +%}
  control-sockets:
    - socket-type: http
      socket-port: 8002
