apiVersion: v1
kind: Pod
metadata:
  name: kea-ddns
  annotations:
    checksum/config: {{ kea_ddns_config.checksum }}
spec:
  hostNetwork: true
  containers:
    - name: kea-ddns
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop: [ALL]
          add:
            - DAC_OVERRIDE
            - NET_BIND_SERVICE
        readOnlyRootFilesystem: true
        runAsUser: {{ kea_user.uid }}
        runAsGroup: {{ kea_group.gid }}
        runAsNonRoot: true
      image: "{{ kea_ddns_image }}:{{ kea_version }}"
      volumeMounts:
        - name: config
          mountPath: /etc/kea
        - name: run
          mountPath: /var/run/kea
  volumes:
    - name: config
      hostPath:
        type: Directory
        path: {{ kea_config_dir }}
    - name: run
      emptyDir:
        medium: Memory
