- name: Gather facts
  hosts: kubelet

- name: Install standalone kubelet
  hosts: kubelet
  gather_facts: false
  roles:
    - role: kubelet
      tags: kubelet

- name: Generate etcd CA
  hosts: etcd_ca
  gather_facts: false
  roles:
    - role: etcd_ca
      tags: etcd
- name: Install etcd
  hosts: etcd
  gather_facts: false
  roles:
    - role: etcd
      tags: etcd

- name: Generate patroni CA
  hosts: patroni_ca
  gather_facts: false
  roles:
    - role: patroni_ca
      tags: patroni
- name: Install patroni
  hosts: patroni
  gather_facts: false
  pre_tasks:
    - name: Load secrets
      community.sops.load_vars:
        file: secrets/patroni.sops.yaml
      tags: patroni
  roles:
    - role: patroni
      tags: patroni

- name: Install patroni-haproxy
  hosts: patroni_haproxy
  gather_facts: false
  roles:
    - role: patroni_haproxy
      tags: patroni_haproxy

- name: Install kea
  hosts: kea
  gather_facts: false
  pre_tasks:
    - name: Load secrets
      community.sops.load_vars:
        file: secrets/kea.sops.yaml
      tags: kea
  roles:
    - role: kea
      tags: kea

- name: Install pdns-recursor
  hosts: pdns
  gather_facts: false
  pre_tasks:
    - name: Load secrets
      community.sops.load_vars:
        file: secrets/pdns.sops.yaml
      tags: pdns
  roles:
    - role: pdns
      tags: pdns

- name: Install chrony
  hosts: chrony
  gather_facts: false
  roles:
    - role: chrony
      tags: chrony

- name: Install dhcrelay
  hosts: dhcrelay
  gather_facts: false
  roles:
    - role: dhcrelay
      tags: dhcrelay

- name: Generate caddy CA
  hosts: caddy_ca
  gather_facts: false
  roles:
    - role: caddy_ca
      tags: caddy
- name: Install caddy
  hosts: caddy
  gather_facts: false
  pre_tasks:
    # for the API key
    - name: Load secrets
      community.sops.load_vars:
        file: secrets/pdns.sops.yaml
      tags: caddy
  roles:
    - role: caddy
      tags: caddy

- name: Install tpeap
  hosts: tpeap
  gather_facts: false
  roles:
    - role: tpeap
      tags: tpeap
