- name: Deploy VyOS configuration
  hosts: vyos
  gather_facts: false
  tasks:
    - name: Apply VyOS configuration
      vyos.vyos.vyos_config:
        src: "files/{{ vyos_config }}"
        save: true
