- name: Create Caddy group
  ansible.builtin.group:
    name: caddy
    system: true
  register: caddy_group
- name: Create Caddy user
  ansible.builtin.user:
    name: caddy
    group: caddy
    home: "{{ caddy_config_dir }}"
    create_home: false
    shell: /usr/sbin/nologin
    system: true
  register: caddy_user

- name: Generate Caddy configuration directory
  ansible.builtin.file:
    path: "{{ caddy_config_dir }}"
    state: directory
    owner: caddy
    group: caddy
    mode: "0o755"

- name: Generate Caddy certs
  ansible.builtin.import_role:
    name: pki_certs
  vars:
    pki_user: caddy
    pki_group: caddy
    pki_dir: "{{ caddy_config_dir }}/ssl"
    pki_cert_id: server
    pki_ekus:
      - serverAuth
    pki_ca_host: "{{ caddy_ca_host }}"
    pki_ca_basedir: "{{ caddy_ca_basedir }}"
    pki_extra_sans: "{{ caddy_extra_sans }}"

- name: Generate Caddy client certs
  ansible.builtin.import_role:
    name: pki_certs
  vars:
    pki_user: caddy
    pki_group: caddy
    pki_dir: "{{ caddy_config_dir }}/ssl"
    pki_cert_id: client
    pki_ekus:
      - clientAuth
    pki_ca_host: "{{ caddy_ca_host }}"
    pki_ca_basedir: "{{ caddy_ca_basedir }}"

- name: Copy Caddy configuration
  ansible.builtin.template:
    src: templates/Caddyfile.j2
    dest: "{{ caddy_config_dir }}/Caddyfile"
    owner: caddy
    group: caddy
    mode: "0o600"
  register: caddy_config

- name: Copy Caddy pod manifest
  ansible.builtin.template:
    src: templates/caddy-pod.yaml.j2
    dest: /etc/kubernetes/manifests/caddy.yaml
    owner: root
    group: root
    mode: "0o644"
