apiVersion: v1
kind: Pod
metadata:
  name: patroni
  annotations:
    checksum/config: {{ patroni_config.checksum }}
spec:
  hostNetwork: true
  containers:
    - name: patroni
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop: [ALL]
        readOnlyRootFilesystem: true
        runAsUser: {{ patroni_postgres_user.uid }}
        runAsGroup: {{ patroni_postgres_group.gid }}
        runAsNonRoot: true
      image: "{{ patroni_image }}:{{ patroni_version }}"
      command:
        - /usr/bin/patroni
        - /etc/patroni/patroni.yaml
      ports:
        - name: http
          containerPort: 8008
        - name: postgres
          containerPort: 5432
      livenessProbe:
        httpGet:
          port: http
          path: /liveness
      readinessProbe:
        httpGet:
          port: http
          path: /readiness
      volumeMounts:
        - name: config
          mountPath: /etc/patroni
        - name: data
          mountPath: /var/lib/postgresql
        - name: run
          mountPath: /var/run/postgresql
        - name: tmp
          mountPath: /tmp
  volumes:
    - name: config
      hostPath:
        type: Directory
        path: {{ patroni_config_dir }}
    - name: data
      hostPath:
        type: Directory
        path: {{ patroni_postgres_data_dir }}
    - name: tmp
      emptyDir: {}
    - name: run
      emptyDir: {}
