apiVersion: v1
kind: Pod
metadata:
  name: pdns-recursor
  annotations:
    checksum/config: {{ pdns_recursor_config.checksum }}
    checksum/config-rpz: {{ pdns_recursor_rpz_config.checksum }}
    checksum/config-rpz-private: {{ pdns_recursor_rpz_private_config.checksum }}
spec:
  hostNetwork: true
  containers:
    - name: pdns-recursor
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop: [ALL]
          add: [NET_BIND_SERVICE]
        readOnlyRootFilesystem: true
        runAsUser: {{ pdns_user.uid }}
        runAsGroup: {{ pdns_group.gid }}
        runAsNonRoot: true
      image: "{{ pdns_recursor_image }}:{{ pdns_recursor_version }}"
      ports:
        - name: dns
          containerPort: 53
          protocol: UDP
        - name: dns-tcp
          containerPort: 53
          protocol: TCP
        - name: metrics
          containerPort: 8082
      livenessProbe:
        httpGet:
          port: metrics
      readinessProbe:
        httpGet:
          port: metrics
      volumeMounts:
        - name: config
          mountPath: /etc/powerdns/recursor.d
        - name: run
          mountPath: /var/run/pdns-recursor
  volumes:
    - name: config
      hostPath:
        type: Directory
        path: {{ pdns_config_dir }}/recursor.d
    - name: run
      emptyDir:
        medium: Memory
